services:
  rabbitmq:
    image: 'rabbitmq:4.2.2'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-myuser}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-secret}
    ports:
      - '5672:5672'
  ollama:
    image: 'ollama/ollama:0.13.5'
    ports:
      - '11434:11434'
    volumes:
      - ollama-models:/root/.ollama
  discord-messages-llm-moderator:
    build: .
    image: 'arkadiusz97/discord-messages-llm-moderator:latest'
    ports:
      - 5005:5005
    environment:
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-myuser}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-secret}
      DISCORD_BOT_REMOVE_MESSAGES: ${DISCORD_BOT_REMOVE_MESSAGES:-true}
      DISCORD_BOT_MAIL_HOST: ${DISCORD_BOT_MAIL_HOST:-invalid}
      DISCORD_BOT_MAIL_PORT: ${DISCORD_BOT_MAIL_PORT:-invalid}
      DISCORD_BOT_MAIL_USERNAME: ${DISCORD_BOT_MAIL_USERNAME:-invalid}
      DISCORD_BOT_MAIL_PASSWORD: ${DISCORD_BOT_MAIL_PASSWORD:-invalid}
      DISCORD_BOT_MAIL_TO_ADDRESS: ${DISCORD_BOT_MAIL_TO_ADDRESS:-invalid}
    depends_on:
      - rabbitmq
      - ollama
volumes:
  ollama-models:
